/*Name: Lauren Morales
Name of File: homework2.html
Date Created: 2024-18-06
Date Updated: 2024-23-06
Version: 0.2
Purpose: MIS3371 CSS for Homework 2 Medical Form*/

.body {
  background-color: #a8afc9;
  color: #F3F2EE;
  font-family: "Times New Roman", Times, serif;
}

.h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:#F3F2EE;
  color: #1F2B5B;
  padding: 20 px;
  font-size: 35 px;
}
.date {
  display: flex;
  float: right;
}

.form {
    background-color: #F3F2EE;
    color: #1F2B5B;
    text-align: left;
    font-family: "Times New Roman", Times, serif;
    font-size: 15px;
    padding: 15px;
    margin-top: 20px;
    margin-left: 20px;
}

td {
    background-color: #f3f2ee;
  color: #1F2B5B;
  font-family: "Times New Roman", Times, serif;
}

.footerh {
    background-color: #F3F2EE;
    color: #1F2B5B;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: "Be Vietnam", sans-serif;
    font-size: 15px;
}

.footer {
  background-color: #F3F2EE;
  color: #1F2B5B;
  display: flex;
  justify-content: space-around;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 15px;
}

.logo {
  width: 200px;
  height: auto;
  margin-right: 150px;
}

.column {
  width: 150px;
}

table.output, tr.output, td.output {
    width: 70%;
    opacity: 0.9;
    font-family: "Times New Roman", Times, serif;
    background-color:greenyellow;
    padding: 2px;
    border-spacing: 2px;
    color:#1F2B5B;
  }

td.outputdata {
    width: 70%;
    opacity: 0.9;
    font-family: "Times New Roman", Times, serif;
    background-color:orange;
    padding: 2px;
    border-spacing: 2px;
    color:#1F2B5B;
}

input:invalid {
    border: red solid 3px
}

.error-message {
    color: red;
    visibility: hidden;
    height: 0; /* No space when not active */
    font-size: 0.8em;
    }

    /* When active, the error message takes up space and is visible */
.error-message.active {
    visibility: visible;
    height: auto; /* Allow space for one line of text */
    width: auto;
}
.readonly-form input.readonly{
    background-color: #f3f2ee;
    padding: 2px;
    margin: 5 px 0;
}

.readonly-form input.error{
    border-color: red;
}