/*Name: Lauren Morales
Name of File: homework2.html
Date Created: 2024-18-06
Date Updated: 2024-23-06
Version: 0.2
Purpose: MIS3371 CSS for Homework Medical Form*/

html {
  background-image: url(houstonskyline.jpg);
  background-size: cover;
  height: 100%;
}

.header{
  background-color: #F3F2EE;
}

.h1 {
  display: center;
  text-align: center;
  align-items: center;
  background-color:#F3F2EE;
  opacity: 0.9;
  color: #1F2B5B;
  font-size: 35 px;
  font-family: "Be Vietnam", sans-serif;
  padding: 0;
  margin: 0;
  line-height: 1;
  width: 100%;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.logo {
  width: 200px;
  height: auto;
  float: center;
  margin-bottom: 0;
}

.date {
  display: flex;
  float: right;
}

.body {
  margin-top: 10;
  padding:0;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 50px;
  margin-bottom: 50px;
  color: #F3F2EE;
  font-family: "Times New Roman", Times, serif;
}

iframe {
  width: 100%;
  height: 300px;
}

.form-container
form {
  background-color: #D3D3D3; 
  padding: 20px;
  border-radius: 10px;
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}

table {
  display: flex;
  flex-direction: column;
  table-layout: fixed;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  background-color: #D3D3D3;
  opacity: 0.95;
}

tr{
  text-align: center;
  width: 100%;
}

td {
  padding: 5px;
  text-align: center;
  justify-items: left;
}

.footerh {
    background-color: #F3F2EE;
    opacity: 0.9;
    color: #1F2B5B;
    margin: 0;
    padding: 0;
    display: center;
    text-align: center;
    align-items: center;
    font-family: "Be Vietnam", sans-serif;
    font-size: 15px;
    width: 100%
}

footer {
  background-color: #F3F2EE;
  color: #1F2B5B;
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 15px;
  margin: 0;
  margin-top: auto;
  padding: 0;
}

table.output,
  table.output,
  tr.output{
      width: 510px;
      background-color: #D3D3D3;
      opacity: 0.95;  
      color: #1F2B5B;
      margin: auto; 
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center; 
  }

.error {
  color:darkred;
}

#submit {
  display: none;
}